.navigation_bar {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
}

.navigation_bar .add_pin {
    width: 60px;
    height: 60px;
    position: relative;
    top: 10%;
    left: 90%;
    transition-duration: 0.3s;
}

.navigation_bar .add_pin:hover {
    background-color: grey;
    transform: scale(1.15);
}

.add_pin_modal {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition-duration: 0.5s;
}